<%= form_for @task, :html => { multipart: true, :class => "form-horizontal task" } do |f| %>

  <% if @task.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <% if current_user == @task.user %>
  
    <div class="form-group">
      <%= f.label :name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%=f.error_span(:name) %>
    </div>
    <div class="form-group">
      <%= f.label :location, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :location, :class => 'form-control', placeholder: "Add link from google maps" %>
      </div>
      <%=f.error_span(:name) %>
    </div>
    <div class="form-group">
      <%= f.label :picture, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', :class => 'form-control' %>
      </div>
      <%=f.error_span(:picture) %>
    </div>
  
  <% else %>
  
    <% if @task.status == false %>
    
      <div class="form-group">
        <div class="row">
          <label class="col-lg-4 col-lg-offset-2">Responsible for this task will be <%= current_user.full_name %> </label>
        </div>
        <div class="col-lg-4 col-lg-offset-2 hidden-lg hidden-md hidden-sm hidden-xs">
          <%= f.select :taken_by, [current_user.id], :class => 'form-control' %>
        </div>
      </div>
  
      <div class="form-group">
        <div class="row">
          <label class="col-lg-4 col-lg-offset-2">I'm gonna take this task</label>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
          <%= f.select :status, ['false', 'true'], :class => 'form-control' %>
        </div>
        <%=f.error_span(:status) %>
      </div>
    
    <% else %>
  
    
      <div class="form-group">
        <div class="row">
          <label class="col-lg-4 col-lg-offset-2">The task is done</label>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
          <%= f.select :done, ['false', 'true'], :class => 'form-control' %>
        </div>
        <%=f.error_span(:done) %>
      </div>
      
    <% end %>
  <% end %>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $('#image_picture').bind('change', function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    if(size_in_megabytes > 5){
      alert('Maximum file size is 5MB.');
    }
  });
</script>
